Is decision making in the strategy body is open to all?

rough consensus WG model) or has defined membership (RSEB model).

Consensus check begins today to see if we agree that-
- there is some strategic body
- strategic decisions get documented in RFCs
- the strategic body is open to all to engage openly, and that meetings should be open, minuted, agendas posted.  This is not to say that there is consensus about how the strategic body is composed.


Proposed text:

`
All strategic body meetings are open to the public, all discussions of issues take place on open mailing lists, and anyone is welcome to comment / discuss.
`

Latest: All strategic body meetings are open to the public.  At body's initial formation, all discussions are to take place on open mailing lists, and anyone is welcome to comment / discuss.  The strategic body may decide by rough consensus to use additional forms of communication that are consistent with [RFC2418].

Plus a request for text from EKR to include a reference to RFC 8874.

Maybe with informational reference to RFC8874.

Latest: All strategic body meetings are open to any participant, subject to Note Well provisions. At body's initial formation, all discussions are to take place on open mailing lists, and anyone is welcome to comment / discuss. The strategic body may decide by rough consensus to use additional forms of communication (for example, Github as specified in [RFC8874]) that are consistent with [RFC2418]

Latest: All strategic body meetings are open to any participant, subject to intellectual property policies that are consistent to those of the IETF [Note Well]. At body's initial formation, all discussions are to take place on open mailing lists, and anyone is welcome to comment / discuss. The strategic body may decide by rough consensus to use additional forms of communication (for example, Github as specified in [RFC8874]) that are consistent with [RFC2418].  The group will conform itself to an anti-harassment policy consistent with [RFC7154,RFC7776].